__pycache__/
data/
passed/
out_dir/
test/
labeled_2018/
data_to_annotate.zip
data_to_annotate/
annotated_data/

train_annotate/ 
train_annotated/
val_annotate/ 
flowlabel_clean_for_analysis_100719.csv

2018_YOLO/
YOLO_CROPPED/

old_data/

runs/

yolo11*.pt
yolo12*.pt
train_yolo*/